---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import PostCard from '../../components/PostCard.astro';

import Section from '../../components/Section.astro';
import Header from '../../components/Header.astro';
import Subheading from '../../components/Subheading.astro';

const collection = await getCollection('posts');

const posts = collection.sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
---
<Layout>
  <Section id="hero" classList="max-w-7xl mx-auto py-36 px-4">
		<Header>
			My Articles
		</Header>
		<Subheading classList={'max-w-2xl mt-6'}>
      Explore a Treasure Trove of Knowledge: Dive into my curated collection of articles where I share insights, tips, and deep dives into the world of software development. From practical coding tutorials to thought-provoking discussions on the latest tech trends, there's a wealth of information waiting for you!
		</Subheading>
	</Section>

  <Section id="blog" classList="mx-auto max-w-7xl px-6 lg:px-8 py-24 sm:py-32">
    <div class="grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {posts.map(post => (
        <PostCard post={post} />
      ))}
    </div>
  </Section>
</Layout>
