---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import PostCard from '../../components/PostCard.astro';

import Container from '../../components/Container.astro';
import Section from '../../components/Section.astro';
import Header from '../../components/Header.astro';
import Subheading from '../../components/Subheading.astro';

const collection = await getCollection('posts');

const posts = collection.sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
---
<Layout>
  <Section id="hero">
		<Container classList="py-20 md:py-36 px-6 md:px-10 space-y-12">
			<Header>
				My Articles
			</Header>
			<Subheading classList={'max-w-2xl my-6'}>
        Explore a Treasure Trove of Knowledge: Dive into my curated collection of articles where I share insights, tips, and deep dives into the world of software development. From practical coding tutorials to thought-provoking discussions on the latest tech trends, there's a wealth of information waiting for you!
			</Subheading>
		</Container>
	</Section>

  <Section id="blog">
    <Container classList="px-6 lg:px-8 py-24 sm:py-32">
			<div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-6 md:gap-y-12 gap-y-6 md:gap-y-12 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        {posts.map(post => (
          <PostCard post={post} />
        ))}
      </div>
    </Container>
    
  </Section>
</Layout>
