---
import {Image} from 'astro:assets'
import Layout from "../layouts/Layout.astro";

import H2 from '../components/H2.astro';
import Header from '../components/Header.astro';
import Paragraph from '../components/Paragraph.astro';
import Section from '../components/Section.astro';
import Subheading from '../components/Subheading.astro';

import laracon from '../assets/images/laracon-eu.jpg'
---
<Layout>
  <Section id="hero" classList="max-w-7xl mx-auto py-36 px-4">
		<Header>
			Who is Steve?
		</Header>
		<Subheading classList={'max-w-2xl mt-6'}>
      Meet Steve McDougall, also known as JustSteveKing, a passionate software engineer, Developer Advocate, and Laravel enthusiast from the Welsh Valleys, UK.
		</Subheading>
	</Section>

  <Section id="about">
    <div class="relative">
      <div class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end">
        <div class="lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2">
          <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
            <Image
              src={laracon}
              alt={'Speaking at Laracon EU in Lisbon'}
              class="absolute inset-0 h-full w-full bg-gray-50 object-cover object-left"
              width={2560}
              height={3413}
            />
          </div>
        </div>
        <div class="px-6 lg:contents">
          <div class="mx-auto max-w-2xl pb-24 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2 space-y-3">
            <H2>
              On a mission to improve API education.
            </H2>
            <Paragraph>
              Hi there! I'm Steve McDougall, but you might know me better as JustSteveKing. Welcome to my little corner of the internet where I share my journey and experiences in the tech world. I'm based in the lovely Welsh Valleys in the UK, and I've got my hands in a few different pots when it comes to software engineering.
            </Paragraph>
            <Paragraph>
              So, what do I do? Well, I wear a couple of hats. By day, I'm a Developer Advocate at Treblle, diving deep into the world of REST-based APIs. It's all about making life easier for engineering and DevOps teams, helping them build and maintain APIs with less hassle.
            </Paragraph>
            <Paragraph>
              But there's more to me than my day job. I also work as a Consultant CTO, juggling digital transformation projects, strategizing on API development, and dishing out open-source advice. It's a role that takes me around the globe (virtually, at least), helping shape tech strategies for various clients.
            </Paragraph>
            <Paragraph>
              When I'm not knee-deep in code or consulting, I love to connect with the tech community. I run a Substack publication and a YouTube channel, both under the name JustSteveKing, where I talk about all things Laravel and APIs. It's my way of breaking down tech topics and fighting the dreaded imposter syndrome that we developers sometimes face.
            </Paragraph>
            <Paragraph>
              I also enjoy sharing my knowledge through writing. You can find some of my tutorials and articles over at Laravel News, where I explore different aspects of software engineering. And if you catch me at a conference or a PHP user group, I'm probably the guy on stage, talking about something techy.
            </Paragraph>
            <Paragraph>
              My philosophy? It's all about bridging technology with community. I believe in empowering developers, fostering collaborative learning, and creating supportive spaces for everyone who's passionate about tech. For me, learning is a lifelong journey, and there's nothing better than sharing what you know with others.
            </Paragraph>
          </div>
        </div>
      </div>
    </div>
  </Section>
</Layout>