---
import Layout from "../layouts/Layout.astro";

import {
  share
} from "./../lib";

import Container from "../components/Container.astro";
import Section from "../components/Section.astro";
import Header from "../components/Header.astro";
import Subheading from "../components/Subheading.astro";
import Paragraph from "../components/Paragraph.astro";
---
<Layout>
  <Section id="hero">
		<Container classList="py-20 md:py-36 px-6 md:px-10 space-y-12">
			<Header>
				Now
			</Header>
			<Subheading classList={'max-w-2xl my-6'}>
        This is my now page, and shows what I am focusing on right now.
			</Subheading>
		</Container>
	</Section>

  <Section id="about">
    <Container classList="px-6 lg:px-8 py-24 sm:py-32">
      <article class="prose lg:prose-xl max-w-7xl dark:text-gray-50 leading-7 tracking-wide">
        <Paragraph>
          As part of the dynamic team at <a target="_blank" rel="noopener nofollow" title="Visit the Treblle website" class="font-medium text-zinc-800 transition hover:underline" href={share('https://www.treblle.com/', 'work', 'juststeveking+website')}>Treblle</a>, I'm deeply immersed in enhancing our platform and SDKs. My focus is on fostering API excellence within the PHP community, guiding our growth through innovative approaches and developer advocacy.
        </Paragraph>
        <Paragraph>
          My passion for teaching and sharing knowledge continues to thrive. Each week, I contribute tutorials to <a target="_blank" rel="noopener nofollow" title="Visit the Laravel News website" class="font-medium text-zinc-800 transition hover:underline" href={share('https://www.laravel-news.com/@juststeveking', 'work', 'juststeveking+website')}>Laravel News</a>, where I delve into various aspects of Laravel, aiming to ensure technical accuracy and applicability. At <a target="_blank" rel="noopener nofollow" title="Visit the PHP Architect website" class="font-medium text-zinc-800 transition hover:underline" href={share('https://www.phparch.com/community/steve-mcdougall/', 'work', 'juststeveking+website')}>php[architect]</a>, I explore more advanced topics, providing in-depth insights into PHP development.
        </Paragraph>
        <Paragraph>
          I'm actively engaged in speaking at various conferences, sharing my expertise and experiences in software development. These events are a fantastic opportunity to connect with the community, exchange ideas, and stay abreast of the latest industry trends.
        </Paragraph>
        <Paragraph>
          Join me on my YouTube channel, where I host live streams, offering real-time tutorials, Q&A sessions, and deep dives into Laravel and PHP. It's a platform where I connect with my audience, share my screen, and code live, tackling real-world problems.
        </Paragraph>
        <Paragraph>
          The open-source community is where I give back, contributing to various projects. I'm committed to developing tools and solutions that benefit developers worldwide, fostering a culture of collaboration and innovation.
        </Paragraph>
        <Paragraph>
          Stay tuned for more updates and feel free to connect with me on my social channels for the latest insights and happenings in my professional journey.
        </Paragraph>
        <Paragraph>
          Learn more about <a target="_blank" rel="noopener nofollow" title="Learn what a NOW page is." class="font-medium text-zinc-800 transition hover:underline" href={share('https://nownownow.com/about', 'work', 'juststeveking+website')}>now pages</a>, and what they are.
        </Paragraph>
      </article>
    </Container>
    
  </Section>
</Layout>