---
import Container from "./Container.astro"
---
<header class="fixed w-full z-50 py-6 bg-slate-50 dark:bg-slate-900">
  <Container>
    <nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="flex items-start justify-center space-x-4 md:space-x-12">
      <a itemprop="url" title="Visit Home Page" href="/" class="flex" data-astro-prefetch="viewport">Home</a>
      <a itemprop="url" title="Visit About Page" href="/about" class="flex" data-astro-prefetch="viewport">About</a>
      <a itemprop="url" title="Visit Talks Page" href="/talks" class="flex" data-astro-prefetch="viewport">Talks</a>
      <a itemprop="url" title="Visit Articles Page" href="/articles" class="flex" data-astro-prefetch="viewport">Articles</a>
      <a itemprop="url" title="Visit Uses Page" href="/uses" class="flex" data-astro-prefetch="viewport">Uses</a>
      <a itemprop="url" title="Visit Now Page" href="/now" class="flex" data-astro-prefetch="viewport">Now</a>
    </nav>
  </Container>
</header>