---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content';

import Paragraph from './Paragraph.astro';
import Subheading from './Subheading.astro';

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<article class="flex max-w-xl flex-col items-start justify-between py-6">
  <div class="group relative py-3">
    <Subheading>
      <a title={`Read: ${post.data.title}`} href={`/articles/${post.slug}`}>
        <span class="absolute inset-0"></span>
        {post.data.title}
      </a>
    </Subheading>
    <Paragraph classList="mt-5 line-clamp-3">
      {post.data.description}
    </Paragraph>
  </div>
  <div class="relative flex items-center gap-x-4">
    <Image
      src={'https://github.com/juststeveking.png'}
      alt="Steve McDougall"
      height={300}
      width={300}
      class="h-12 w-12 rounded-full"
    />
    <div class="text-sm leading-6">
      <Paragraph classList="font-semibold">
        Steve McDougall
      </Paragraph>
      <Paragraph>
        Developer Relations @ Treblle
      </Paragraph>
    </div>
  </div>
</article>