---
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION } from "./../config";
import Meta from "../components/Meta.astro";
import SocialLinks from "../components/SocialLinks.astro";

interface Props {
	title?: string;
	description?: string;
	image?: string;
	canonical?: string;
}

const { title, description, image, canonical } = Astro.props;

const date: Date = new Date();
---

<!doctype html>
<html lang="en" class="h-full antialiased" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? SITE_TITLE}</title>

		<Meta
			title={title ?? SITE_TITLE}
			description={description ?? SITE_DESCRIPTION}
			image={image ?? "/images/steve.png"}
			canonical={canonical}
		/>

		<link
			rel="alternate"
			type="application/rss+xml"
			href="https://www.juststeveking.uk/rss.xml"
		/>

		<link rel="sitemap" href="/sitemap-index.xml" type="application/rss+xml" />

		<ViewTransitions />
	</head>
	<body
		class="font-body h-full bg-zinc-50 dark:bg-slate-900 text-slate-900 dark:text-zinc-50"
	>
		<header class="py-10 fixed w-full z-50 bg-zinc-50 dark:bg-slate-900">
			<nav class="h-full flex justify-center space-x-8 text-sm md:text-lg font-medium">
				<a title="Visit Home Page" href="/" class="flex">Home</a>
				<a title="Visit About Page" href="/about" class="flex">About</a>
				<a title="Visit Talks Page" href="/talks" class="flex">Talks</a>
				<a title="Visit Articles Page" href="/articles" class="flex">Articles</a
				>
				<a title="Visit Uses Page" href="/uses" class="flex">Uses</a>
				<a title="Visit Now Page" href="/now" class="flex">Now</a>
			</nav>
		</header>

		<main class="py-48 overflow-x-hidden" transition:animate="fade">
			<slot />
		</main>

		<footer>
			<div
				class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8"
			>
				<div class="flex justify-center space-x-6 md:order-2">
					<SocialLinks />
				</div>
				<div class="mt-8 md:order-1 md:mt-0">
					<p class="text-md leading-5">
						&copy; {date.getFullYear()}
						{SITE_TITLE}. All rights reserved.
					</p>
				</div>
			</div>
		</footer>

		<script is:inline src="/scripts/copy-btn.js"></script>
	</body>
	<style is:global>
		.pre {
			position: relative !important;
		}

		.copy-button {
			position: absolute;
			display: flex;
			padding: 0;
			margin: 0.2rem;
			top: 0rem;
			right: 0;
			z-index: 999;
			height: 2.2rem;
			width: 2.2rem;
			background-color: transparent;
			border: none;
			border-radius: 0.25rem;
			transition: opacity 0.2s;
			outline: none;
			cursor: pointer;
		}

		.copy-button[disabled] {
			display: flex;
			opacity: 0;
		}

		.copy-button:focus,
		.copy-button:hover {
			opacity: 1;
		}

		.copy-icon {
			position: relative;
			height: 2rem;
			width: 2rem;
			pointer-events: none;
			margin: 0 !important;
		}
	</style>
</html>
